<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="foot" class="footer">
    <footer class="footer" style="margin-bottom: 10px;">
        <div class="container" style="margin-top: 15px;">
            <div>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                今天又是充满希望的一天
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </div>
            <div>Copyright © 2019 · 码农社区  · <a href="http://www.beian.miit.gov.cn" target="_blank">渝ICP备19015871号</a> ｜ All Rights Reserved Powered</div>
        </div>
    </footer>
</div>

</body>
</html>
<a href="http://www.beian.miit.gov.cn">渝ICP备19014977号-1</a>