<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>码农社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/community.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>

    <div th:insert="~{navigation :: nav}"></div>

    <div class="container-fluid main" style="border-radius:10px; box-shadow:0px 0px 16px 5px #ccc; margin-top: 15px; ">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h2>

                <ul class="nav nav-tabs">
                    <li role="presentation" th:class="${sort == 'new' || sort == '' ? 'active':''}">
                        <a href="/">最新</a>
                    </li>
                    <li role="presentation" th:class="${sort == 'hot30' ? 'active':''}">
                        <a th:href="@{/sort(sort='hot30')}">30天最热</a>
                    </li>
                    <li role="presentation" th:class="${sort == 'hot7' ? 'active':''}">
                        <a th:href="@{/sort(sort='hot7')}">7天最热</a>
                    </li>
                    <li role="presentation" th:class="${sort == 'hot' ? 'active':''}">
                        <a th:href="@{/sort(sort='hot')}">最热</a>
                    </li>
                    <li role="presentation" th:class="${sort == 'no' ? 'active':''}">
                        <a th:href="@{/sort(sort='no')}" class="red">消灭零回复</a>
                    </li>
                </ul>

                <div class="media" th:each="question : ${questions.list}">
                    <div class="media-left">
                        <a href="#">
                            <!--<img class="media-object img-rounded" th:src="${question.user.headImg}">-->
                            <img class="media-object img-rounded" th:src="${question.headImg}">
                        </a>
                    </div>
                    <div class="media-body" style="padding-left: 20px;">
                        <h4 class="media-heading" >
                            <a th:href="@{'question/'+${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 • <span
                                th:text="${question.viewCount}"></span> 次浏览 • <span
                                th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <!--当前页数是否是首页，如果不是则出现首页标志-->
                        <li th:if="${!questions.isFirstPage}">
                            <a href="/" aria-label="Previous">
                                <span aria-hidden="true">首页</span>
                            </a>
                        </li>
                        <!--当前页数是否还有上一页，如果不是则出现上一页标志-->
                        <li th:if="${questions.hasPreviousPage}">
                            <a th:href="@{/(page=${questions.pageNum - 1},search=${search},tag=${tag},sort=${sort})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <!--循环展示页数-->
                        <li th:each="navigatepageNum : ${questions.navigatepageNums}" th:class="${navigatepageNum == questions.pageNum} ? 'active' : ''">
                            <a th:text="${navigatepageNum}"
                               th:href="@{/(page=${navigatepageNum},search=${search},tag=${tag},sort=${sort})}">
                            </a>
                        </li>

                        <!--当前页数是否还有下一页，如果不是则出现下一页标志-->
                        <li th:if="${questions.hasNextPage}">
                            <a th:href="@{/(page=${questions.pageNum + 1},search=${search},tag=${tag},sort=${sort})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <!--当前页数是否是尾页，如果不是则出现尾页标志-->
                        <li th:if="${!questions.isLastPage}">
                            <a aria-label="Previous" th:href="@{/(page=${questions.pages},search=${search},tag=${tag},sort=${sort})}">
                                <span aria-hidden="true">尾页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="margin-left: 60px;">


                <div>
                    <!--二维码-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
                        <h4>支持作者,送一杯卡布奇诺把～</h4>
                        <img class="img-thumbnail question-wechat" src="/images/dali.jpg">
                    </div>
                    <!--二维码-->
                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">-->
                        <!--<img class="img-thumbnail question-wechat" src="https://avatars2.githubusercontent.com/u/49060515?v=4">-->
                    <!--</div>-->
                    <!--二维码-->
                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">-->
                        <!--<img class="img-thumbnail question-wechat" src="/images/default-avatar.png">-->
                    <!--</div>-->
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
                    <h4>热门标签</h4>
                    <ul class="question-related">
                        <li th:each="tag : ${tags}">
                            <a th:href="@{/searchQuestionsByTag(tag=${tag})}" th:text="${tag}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{footer :: foot}"></div>
</body>
</html>