<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">码农社区</span>
            </button>
            <a class="navbar-brand" href="/">码农社区</a>
            <ul class="nav navbar-nav">
                <li class="navtitle"><a href="/">首页</a></li>
                <li class="dropdown megamenu-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">所有标签</a>
                    <ul class="dropdown-menu text-center" role="menu" style="width: 500px; margin-left: -50%;">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <h6 class="text-center center-block ">开发语言</h6>
                                    <div class="content">
                                        <ul class="menu-col text-center" style="padding-inline-start: 0px; width: 80%; margin:auto; ">
                                            <li class="center-block"><a href="/?tag=javascript" class="community-tag">javascript</a></li>
                                            <li class="center-block"><a href="/?tag=php" class="community-tag">php</a></li>
                                            <li class="center-block"><a href="/?tag=html" class="community-tag">html</a></li>
                                            <li class="center-block"><a href="/?tag=css" class="community-tag">css</a></li>
                                            <li class="center-block"><a href="/?tag=java" class="community-tag">java</a></li>
                                            <li class="center-block"><a href="/?tag=node.js" class="community-tag">node.js</a></li>
                                            <li class="center-block"><a href="/?tag=python" class="community-tag">python</a></li>
                                            <li class="center-block"><a href="/?tag=c++" class="community-tag">c++</a></li>
                                            <li class="center-block"><a href="/?tag=c" class="community-tag">c</a></li>
                                            <li class="center-block"><a href="/?tag=shell" class="community-tag">shell</a></li>
                                            <li class="center-block"><a href="/?tag=objective-c" class="community-tag">objective-c</a></li>
                                            <li class="center-block"><a href="/?tag=bash" class="community-tag">bash</a></li>
                                            <li class="center-block"><a href="/?tag=less" class="community-tag">less</a></li>
                                            <li class="center-block"><a href="/?tag=perl" class="community-tag">perl</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <h6 class="text-center center-block ">开发工具</h6>
                                    <div class="content">
                                        <ul class="menu-col text-center" style="padding-inline-start: 0px; width: 80%; margin:auto; ">
                                            <li class="center-block"><a href="/?tag=git" class="community-tag">git</a></li>
                                            <li class="center-block"><a href="/?tag=github" class="community-tag">github</a></li>
                                            <li class="center-block"><a href="/?tag=visual-studio-code" class="community-tag">visual-studio</a></li>
                                            <li class="center-block"><a href="/?tag=vim" class="community-tag">vim</a></li>
                                            <li class="center-block"><a href="/?tag=sublime-text" class="community-tag">sublime</a></li>
                                            <li class="center-block"><a href="/?tag=xcode" class="community-tag">xcode</a></li>
                                            <li class="center-block"><a href="/?tag=intellij-idea" class="community-tag">intellij-idea</a></li>
                                            <li class="center-block"><a href="/?tag=eclipse" class="community-tag">eclipse</a></li>
                                            <li class="center-block"><a href="/?tag=maven" class="community-tag">maven</a></li>
                                            <li class="center-block"><a href="/?tag=svn" class="community-tag">svn</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <h6 class="text-center center-block ">平台框架</h6>
                                    <div class="content center-block">
                                        <ul class="menu-col text-center" style="padding-inline-start: 0px; width: 80%; margin:auto; ">
                                            <li class="center-block"><a href="/?tag=spring" class="community-tag">spring</a></li>
                                            <li class="center-block"><a href="/?tag=springmvc" class="community-tag">springmvc</a></li>
                                            <li class="center-block"><a href="/?tag=mybatis" class="community-tag">mybatis</a></li>
                                            <li class="center-block"><a href="/?tag=express" class="community-tag">express</a></li>
                                            <li class="center-block"><a href="/?tag=django" class="community-tag">django</a></li>
                                            <li class="center-block"><a href="/?tag=hadoop" class="community-tag">hadoop</a></li>
                                            <li class="center-block"><a href="/?tag=struts" class="community-tag">struts</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <h6 class="text-center center-block ">服务器</h6>
                                    <div class="content">
                                        <ul class="menu-col text-center" style="padding-inline-start: 0px; width: 80%; margin:auto; ">
                                            <li class="center-block"><a href="/?tag=linux" class="community-tag">linux</a></li>
                                            <li class="center-block"><a href="/?tag=nginx" class="community-tag">nginx</a></li>
                                            <li class="center-block"><a href="/?tag=docker" class="community-tag">docker</a></li>
                                            <li class="center-block"><a href="/?tag=tomcat" class="community-tag">tomcat</a></li>
                                            <li class="center-block"><a href="/?tag=ubuntu" class="community-tag">ubuntu</a></li>
                                            <li class="center-block"><a href="/?tag=centos" class="community-tag">centos</a></li>
                                            <li class="center-block"><a href="/?tag=windows-server" class="community-tag">windows-server</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <h6 class="text-center center-block ">数据库</h6>
                                    <div class="content">
                                        <ul class="menu-col text-center" style="padding-inline-start: 0px; width: 80%; margin:auto; ">
                                            <li class="center-block"><a href="/?tag=mysql" class="community-tag">mysql</a></li>
                                            <li class="center-block"><a href="/?tag=redis" class="community-tag">redis</a></li>
                                            <li class="center-block"><a href="/?tag=mongodb" class="community-tag">mongodb</a></li>
                                            <li class="center-block"><a href="/?tag=oracle" class="community-tag">oracle</a></li>
                                            <li class="center-block"><a href="/?tag=sqlserver" class="community-tag">sqlserver</a></li>
                                            <li class="center-block"><a href="/?tag=postgresql" class="community-tag">postgresql</a></li>
                                            <li class="center-block"><a href="/?tag=sqlite" class="community-tag">sqlite</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end col-3 -->
                            </div><!-- end row -->
                        </li>
                    </ul>
                </li>
            </ul>
        </div>




        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" action="/searchQuestions" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user != null}">
                    <a href="/publish">提问</a>
                </li>
                <li><a href="/profile/replies">消息&nbsp;<span class="badge" th:text="${session.unreadCount}">16</span></a></li>
                <li th:if="${session.user != null}">
                    <img class="media-object img-rounded" th:src="${session.user.headImg}">
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span th:text="${session.user.getName()}"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/questions">我的问题</a></li>
                        <li><a href="/profile/collects">我的收藏</a></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=d921b8f218b9e6f06073&redirect_uri=http://localhost/callback&state=1&scope=user">登陆</a>
                    <!--<a href="https://github.com/login/oauth/authorize?client_id=10452eda4e3ceb4897c2&redirect_uri=http://seagold.top/callback&state=1&scope=user">登陆</a>-->
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
<div th:insert="~{footer :: foot}"></div>

</body>

</html>