<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搬砖社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" style="background-color: #ffffff;box-shadow:0px 0px 8px 5px #ccc;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">搬砖社区</span>
                </button>
                <a class="navbar-brand" href="#">搬砖社区</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}">
                        <a href="/publish">发布</a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" th:text="${session.user.getName()}">我 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">消息中心</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                        <a href="https://github.com/login/oauth/authorize?client_id=10452eda4e3ceb4897c2&redirect_uri=http://localhost:8080/callback&state=1&scope=user">登陆</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid main" style="border-radius:10px; box-shadow:0px 0px 16px 5px #ccc; ">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;发起</h2>
                <hr>

                <form action="/publishQuestion" method="post">
                    <div class="form-group">
                        <label for="title">问题标题（简要概述）:</label>
                        <input class="form-control" id="title" name="title" placeholder="问题标题" th:value="${title}">
                    </div>
                    <div class="form-group">
                        <label for="description">问题补充(必填,请参考右侧提示):</label>
                        <textarea rows="10" cols="30" id="description" name="description" class="form-control" th:text="${description}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input class="form-control" id="tag" name="tag" placeholder="输入标签,以,分割" th:value="${tag}">
                    </div>
                    <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                         th:text="${error}"
                         th:if="${error != null}">
                    </div>
                    <button type="submit" class="btn btn-success btn-publish">发布</button>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
                • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
                • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
            </div>
        </div>
    </div>
</body>
</html>